.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px; /* Space between elements */
  text-align: center;
  height: 100vh; /* Use vh for consistent height */
  min-height: 500px;
  padding: 40px 20px; /* Added padding for spacing */
  box-sizing: border-box; /* Include padding in height */
  overflow: hidden; /* Prevent overflow issues */
}

.hero {
  max-width: 200px;
  width: 100%; /* Ensure responsive scaling */
  margin: 0 auto; /* Center the image */
}

.colorModeContainer {
  position: relative;
  display: flex;
  justify-content: center; /* Center the image */
  align-items: flex-start; /* Align items at the start */
}

.colorMode {
  position: absolute;
  right: 15px; /* Adjust position for mobile */
  top: 15px; /* Increase space from the top */
  width: 25px;
}

.iconContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
  align-items: flex-end;
}

.icon {
  width: 35px;
  height: 35px;
  transition: transform 200ms ease-in-out;
}

.iconContainer a:nth-child(2) .icon {
  transform: translateY(-5px);
}

.icon:hover {
  transform: scale(1.2);
}

.iconContainer a:nth-child(2) .icon:hover {
  transform: translateY(-5px) scale(1.2);
}

.description {
  max-width: 24ch;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Button styles */
.resumeButton {
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
  margin-top: 20px;
}

.lightButton {
  background-color: black;
  color: white;
}

.darkButton {
  background-color: white;
  color: black;
}

.resumeButton:hover {
  transform: scale(1.05);
}

.resumeButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .colorMode {
    right: 10px; /* Adjust for mobile */
    top: 20px; /* Increase space from the top */
  }

  .hero {
    max-width: 150px; /* Adjust for smaller screens */
  }
}

@media (min-width: 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero {
    max-width: 350px;
    width: 350px;
  }
}

@media (min-width: 1400px) {
  .hero {
    max-width: 400px;
    width: 400px;
  }
}
