.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skillImage {
  width: 18px;
  flex-shrink: 0;
}

.separator {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 25px auto;
}

@media (min-width: 600px) {
  .skillItem {
    max-width: 140px;
  }
}

@media (min-width: 800px) {
  .skillList {
    gap: 25px;
  }

  .skillItem {
    max-width: 150px;
  }

  .skillImage {
    width: 20px;
  }

  .separator {
    width: 300px;
    margin: 30px auto;
  }
}

@media (min-width: 1200px) {
  .skillList {
    gap: 35px;
  }
}
