.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px; /* Added margin-top to create space from previous section */
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Center vertically */
  flex-wrap: wrap;
  row-gap: 20px; /* Reduced gap for tighter layout */
}

.skillItem {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 150px; /* Adjust this width as needed */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflow */
  text-overflow: ellipsis; /* Adds ellipsis for overflow text */
}

.skillImage {
  width: 20px; /* You can adjust the image size */
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: var(--text-color);
  margin: 30px auto;
}

@media (min-width: 800px) {
  .skillList {
    gap: 30px;
  }

  hr {
    width: 300px;
  }
}
